*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: 0;
    outline: 0;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
}
.container{
    width: 400px;
    height: min-content;
    background-color: #fff;
    padding: 30px;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
}
button{
    width: 50px;
    height: 50px;
    background-color: #f8ba5eef;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 800;
}
button::before{
    font-size: 23px;
}
button:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}
.heading{
    margin-bottom: 2px;
}
.heading  h1,h3,h4{
    text-align: center;
}
.heading h1{
    font-size: 22px;
    font-weight: 600;
}
.heading h3{
    font-size: 15px;
    text-decoration: underline;
}
.heading h4{
    margin-top: 3px;
    font-size: 13px;
    font-weight: 600;
}
.heading > a{
    color: #222;
    text-decoration: none;
}
.box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.box h1{
    font-size: 45px;
}
.box .buttons button{
    margin: 5px;
}
.fa-play-circle{
    background-color: #ff6767ec !important;
}